---
title: "Sicily"
permalink: "/photography/sicily/index.html"
album: "sicily"
layout: "layout.njk"
---
{% import "macros/gallery.njk" as galleryMacros %}
<h1>{{title}}</h1>
{{ galleryMacros.gallery(photographs.photographs_sicily, "sicily") }}




