<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" href="/assets/favicon/favicon.ico" />
		<script type="module" src="/assets/scripts/lightbox.js" defer></script>
		<title> {{ title }} </title>
	</head>
	
	<body>
		{% include "components/header.njk" ignore missing %}
		<div class="wrapper">
				<main>
					{{ content | safe }}
				</main>
		</div>
		{% include "components/footer.njk" ignore missing %}
	</body>
</html>

<script>
	function darkMode(){
		const body = document.body;
		body.classList.toggle("dark-mode");

		darkModeButton = document.getElementById("dark-mode-logo");
		
		if(darkModeButton.src.includes("moon.png")){
			darkModeButton.src = "/assets/icons/brightness.png";
			console.log("mode sombre activé")
		}else{
			console.log("mode sombre désactivé")
			darkModeButton.src = "/assets/icons/moon.png";
		}
	}



				

					
			

</script>
