<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" href="/assets/favicon/favicon.ico" />
		<title> {{ title }} </title>
	</head>
	
	<body>
		{% include "components/header.njk" ignore missing %}
		<div class="wrapper">
				<main>
					{{ content | safe }}
				</main>
		</div>
		{% include "components/footer.njk" ignore missing %}
	</body>
</html>

<script>
	function darkMode(){

		const body = document.body;
		body.classList.toggle("dark-mode");

		if (document.querySelector(".intro-wrapper")){

			document.querySelector(".intro-wrapper").addEventListener("click", () => {
			document.querySelector(".intro-wrapper").classList.toggle("dark-mode");

			if (body.classList.contains("dark-mode")) {
				document.getElementById("welcome-logo").src = "/assets/icons/welcome2.png";
				document.getElementById("dark-mode-logo").src = "/assets/icons/strike.png";
			}else{
				document.getElementById("welcome-logo").src = "/assets/icons/welcome3.png";
				document.getElementById("dark-mode-logo").src = "/assets/icons/moon.png";
			}
			})
		}
	}

</script>