<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" href="/assets/favicon/favicon.ico" />
		<title> {{ title }} </title>
	</head>
	
	<body>
		{% include "components/header.njk" ignore missing %}
		<div class="wrapper">
				<main>
					{{ content | safe }}
				</main>
		</div>
		{% include "components/footer.njk" ignore missing %}
	</body>
</html>

<script>
	function darkMode(){
		const body = document.body;
		body.classList.toggle("dark-mode");

		if (document.getElementById("darkModeButton")){
			darkModeButton.addEventListener('click',function(){
				if (document.getElementById("welcome-logo")){
					if(document.getElementById("welcome-logo").src === "welcome3.png"){
					console.log(document.getElementById("#welcome-logo"));
					document.getElementById("welcome-logo").src === "welcome2.png";
					}else{
					document.getElementById("welcome-logo").src === "welcome3.png";
					}
				}
			})
		}
	}

</script>