---
title: "Gallery"
layout: "/layout.njk"
---

<h1>{{title}}</h1>

<div class="gallery-wrapper">
    <div class="element-container">
        <a href="/photography/sicily" class="gallery-link">
            <div class="img-container">
                <img src="../assets/icons/map-of-sicily.png" alt="map of Sicily" class="map">
            </div>
            <div class="desc"><p>Sicily</p></div>
        </a>
    </div>

    <div class="element-container">
        <a href="/photography/oz" class="gallery-link">
            <div class="img-container">
                <img src="../assets/icons/map-of-australia.png" alt="map of Australia" class="map">
            </div>
            <div class="desc"><p>Australia</p></div>
        </a>
    </div>
    <div class="element-container">
        <a href="/photography/bali" class="gallery-link">
            <div class="img-container">
                <img src="../assets/icons/map-of-bali.png" alt="map of Bali" class="map">
            </div>
            <div class="desc"><p>Bali</p></div>
        </a>
    </div>
</div>
