---
title: "Gallery"
layout: "/layout.njk"
---

<h1>{{title}}</h1>

<div class="wrapper">
    <a href="/photography/sicily" class="gallery-link">
        <div class="single-element"><img src="../assets/icons/map-of-sicily.png" alt="map of Sicily"></div>
        <div class="desc"><p>Sicily</p></div>
    </a>

    <a href="/photography/oz" class="gallery-link">
        <div class="single-element"><img src="../assets/icons/map-of-australia.png" alt="map of Australia"></div>
        <div class="desc"><p>Australia</p></div>
    </a>
</div>
