<div class="header-wrapper">
    <img src="/assets/icons/moon.png" alt="button to turn darkmode on" onclick="darkMode()" id="dark-mode-logo"></img>
    <a href="/">Home</a>
</div>

<style>
    .header-wrapper{
        display: flex;
        align-items: center;
        gap:2em;

        
    }
</style>