<div class="header-wrapper" id="to_top">
    {# <div class="header-links-container"> #}
        <a href="/">Home</a>
        <a href="/photography">Gallery</a>
        <a href="/about">About</a>
    {# </div> #}
    {# <div class="darkMode-container"> #}
        <img src="/assets/icons/moon.png" alt="button to turn darkmode on" onclick="darkMode()" id="dark-mode-logo"></img>
    {# </div> #}
</div>
