{% macro gallery(photographs,album,title) %}


<div class="album-title"><p id="album-length">{{ photographs.length }} pictures of</p><h1>{{title}}</h1></div>
<div class="gallery">
    {% for entry in photographs %}
        {% if entry.album === album %}
            <div class="gallery-item-container">
                <a href="{{entry.src}}" target="_blank" class="lightbox-trigger">
                    <div class="gallery-item">
                        <img src="{{entry.src}}" alt="{{entry.alt}}">
                    </div>
                    {% if entry.caption %}
                        <div class="caption-container"><p>{{entry.caption}}</p></div>
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

  {% endmacro %}
