/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Indie+Flower&display=swap');


/* GENERAL */
:root{
    --floral-white:#FFFAF1;
    --carbon-black:#191716;
}

html, body{
    margin:0;
    padding:0;
}

*{
    box-sizing: border-box !important;
}

body{
    background-color:var(--floral-white);
    font-family:"Dosis", sans-serif;
    color:var(--carbon-black);
}
/* ______LAYOUT______ */
.wrapper{
    width:90%;
    margin: auto;
}

/* ______DARK MODE______ */
.dark-mode{
    background-color: var(--carbon-black);
    color: var(--floral-white);
}

.intro-wrapper.dark-mode {
    color: #FFB0FF !important;
}

/* ______HEADER COMOPONENT______ */
.header-wrapper{
    width:100%;
    padding:1em;
}

#dark-mode-logo{
    width:3%;
    cursor: pointer;
}

/* ______HOME PAGE / INDEX______ */
.welcome-logo-wrapper{
    width:100%;
    text-align: center;
}

#welcome-logo{
    width: 40%;   
}

.intro-wrapper{
    width:80%;
    margin: auto;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 3em;
    color: #3D348B;
}

/* ______CATEGORIES COMPONENT______ */

.categories-wrapper{
    width: 100%;
    display: flex;
 
    align-items: space-around;
}

.single-category-wrapper{
    width:fit-content;
    text-align: center;
}

.categories-icons{
    width:10%;
    border-radius:90px;
    cursor: pointer;
}

/* ______GALLERY______ */

    .gallery {
        width:90%;
        margin : auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap:50px;
    }

    .gallery-item-container{
        width: 30%;
        position: relative;
    }

    .gallery-item {   
        height: fit-content;
        border-radius: 2px;
        width : 100%;
        margin: auto;
        overflow: hidden;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
        transition: transform 0.7s ease;
    }

   
    .gallery-item-container:hover img {
    transform: scale(1.4);
    }

    .gallery-item-container:hover .desc{
        opacity: 1;
    }

    .gallery-item-container .desc {
        text-align: center;
        font-family: "Indie Flower", cursive;
        text-decoration:underline;
        font-size: 1.2em;
        color: var(--carbon-black);
        padding:0px;
        margin:0px;
        
        position:relative;
        z-index:2;
        background: rgba(248, 248, 248, 0.8);
        transition: .3s;
        bottom: 0;
        left: 0;
        transform: translate(0em, -2em);
        opacity: 0;
    }

    @media only screen and (max-width: 768px) {
        .gallery-item {
            width: calc(50% - 20px);
        }
    }

    @media only screen and (max-width: 480px) {
        .gallery-item {
            width: calc(100% - 20px);

        }
    }


