/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Indie+Flower&display=swap');



/* GENERAL */
:root {
    --floral-white: #FFFAF1;
    --carbon-black: #191716;
    --dark-purple:#3D348B;
    --girly-pink:#FFB0FF;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box !important;
}

body {
    background-color: var(--floral-white);
    font-family: "Dosis", sans-serif;
    color: var(--carbon-black);
    font-size: 1em;
}

a{
    cursor: pointer;
}

h1{
    text-align: center;
    padding:1rem;
    font-size:4em;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    color: var(--dark-purple);
  
}

/* ______DARK MODE______ */
.dark-mode {
    background-color: var(--carbon-black);
    color: var(--floral-white) !important;
}

.dark-mode .intro-wrapper, .dark-mode a, .dark-mode h1{
    color:var(--girly-pink);
}

/* ______LAYOUT______ */
.wrapper {
    width: 90%;
    margin: auto;
}

/* ______HEADER COMOPONENT______ */
.header-wrapper {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1.5em;
}

#dark-mode-logo {
    width: 2em;
    cursor: pointer;
}

.header-wrapper a {
    text-decoration: none;
}

.header-wrapper a:hover {
    color: var(--girly-pink);
    transition: 0.2s ease;
}

@media only screen and (max-width: 480px) {
    .header-wrapper {
      gap:.5em;
      font-size: 1em;

    }
}

/* ______HOME PAGE / INDEX______ */
.welcome-logo-wrapper {
    width: 100%;
    text-align: center;
}

#welcome-logo {
    width: 40%;
}

.intro-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 3em;
    color: var(--dark-purple);
}

@media only screen and (max-width: 480px) {
    .intro-wrapper{
        font-size:1em;
    }
}

/* ______CATEGORIES COMPONENT______ */

.categories-wrapper {
    width: 100%;
    display: flex;

    align-items: space-around;
}

.single-category-wrapper {
    width: fit-content;
    text-align: center;
}

.categories-icons {
    width: 30%;
    border-radius: 90px;
    cursor: pointer;
}


/* ______GALLERY INDEX______ */

.gallery-wrapper{
    display: flex;
    gap:4rem;
    margin: auto;
    width: 90%;
    padding:2rem 0;
    justify-content: center;
    flex-wrap: wrap;
}   

.gallery-wrapper .map{
    width:75%;

    transition: transform .6s ease, opacity .4s ease;
}

.gallery-wrapper .gallery-link{
    width: 100%;
    cursor: pointer;
    position:relative;
    top:0;
    left:0;
}

.img-container{
    background-color: #0C6291;
    border-radius: 100%;
    display: grid;
    place-items: center;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: transform .5s cubic-bezier(.4,0,.2,1);
}

.gallery-link .desc{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(6px);
}

.img-container,
.gallery-link .desc {
    width: 250px;
    aspect-ratio: 1 / 1;
}

.desc p{
    color: var(--floral-white);
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 3em;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    opacity: 0;
    transform: translateX(60px);
    transition: all .4s ease .1s;
}

.element-container:hover .desc{
    opacity:1;
    transform: scale(1.05);
}

.element-container:hover .img-container{
    transform: scale(1.05);
}

.element-container:hover .desc p{
    transform: translateX(0);
    opacity: 1;
}

.element-container:hover .map{
    transform: scale(1.1);
    opacity: .85;
}


@media only screen and (max-width : 480px){
 
}
    


/* ______GALLERY______ */

.gallery {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gallery-item-container {
    width: 30%;
    position: relative;
}

.gallery-item {
    height: fit-content;
    border-radius: 2px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.7s ease;
}


.gallery-item-container:hover img {
    transform: scale(1.4);
    cursor: pointer;
}

.gallery-item-container:hover .desc {
    opacity: 1;
}

.gallery-item-container .desc {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
    opacity: 0;
}

.gallery-item-container .desc p {
    color: var(--floral-white);
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    max-width: 100%;
    overflow: hidden;
}


@media only screen and (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .gallery-item {
        width: calc(100% - 20px);

    }
}

/* ______LIGHTBOX______ */
    .lightbox{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%; 
        background-color : rgba(0,0,0,.9);
        z-index:10;
        overflow: auto;
        animation: lightboxIn .5s;
        transition: opacity .3s;
    }

    .lightbox.fadeOut {
        opacity:0;
    }

    .lightbox__prev,.lightbox__next{
        border:none;
        background:url(/assets/icons/arrow.svg) center center/ 100% 100%;
        width:50px;
        height:50px;
        position: fixed;
        top:50%;
        right:20px;
        margin-top:-14px;
        z-index:11;
        opacity:.5;
    }

    .lightbox__prev{
        right:auto;
        left:20px;
        transform: rotate(180deg);
    }

    .lightbox__container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0 50px;
    }

    .lightbox__loader{
        width:38px;
        height:38px;
        opacity:.5;
        background:url(/assets/icons/loader.svg) center center no-repeat;
    }

    .lightbox__close{
        width:25px;
        height:25px;
        background: url(/assets/icons/cross.svg) center center / 15px 15px no-repeat transparent;
        position: fixed;
        top: 20px;
        right:20px;
    }

    .lightbox button{
        opacity: .5;
        cursor: pointer;
        transition: opacity .3s;
        text-indent: -3000px;
    }

    .lightbox button:hover{
        opacity: 1;
    }

    .lightbox__container img{
        max-width: 50%;
        height: auto;
    }

    @keyframes lightboxIn{
        from {opacity:0;}
        to {opacity: 1;}
    }