/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Indie+Flower&display=swap');


/* GENERAL */
:root{
    --floral-white:#FFFAF1;
    --carbon-black:#191716;
}

html, body{
    margin:0;
    padding:0;
}

*{
    box-sizing: border-box !important;
}

body{
    background-color:var(--floral-white);
    font-family:"Dosis", sans-serif;
    color:var(--carbon-black);
}
/* ______LAYOUT______ */
.wrapper{
    width:90%;
    margin: auto;
}

/* ______DARK MODE______ */
.dark-mode{
    background-color: var(--carbon-black);
    color: var(--floral-white);
}

.intro-wrapper.dark-mode {
    color: #FFB0FF !important;
}

/* ______HEADER COMOPONENT______ */
.header-wrapper{
    width:100%;
    padding:1em;
    text-align: right;
}

#dark-mode-logo{
    width:3%;
    cursor: pointer;
}

/* ______HOME PAGE / INDEX______ */
.welcome-logo-wrapper{
    width:100%;
    text-align: center;
}

#welcome-logo{
    width: 40%;   
}

.intro-wrapper{
    width:80%;
    margin: auto;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 3em;
    color: #3D348B;
}

/* ______CATEGORIES COMPONENT______ */

.categories-wrapper{
    width: 100%;
    display: flex;
 
    align-items: space-around;
}

.single-category-wrapper{
    width:fit-content;
    text-align: center;
}

.categories-icons{
    width:10%;
    border-radius:90px;
    cursor: pointer;
}

/* ______GALLERY CAROUSEL______ */

    .gallery {
        background-color: #f9fafb
;
        width:90%;
        margin : auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        gap:3rem;
    }

    .gallery-item {
        border: 1px solid #ccc;
        width: calc(25% - 20px);
        height: fit-content;
        overflow: hidden;
        border-radius: 2px;
        width : 30%;
    }

    .gallery-item:hover {
        border: 1px solid #777;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
        transition: transform 0.7s ease;
    }

    .gallery-item img:hover{
        transform : scale(1.2);
    }

    .gallery-item .desc {
        padding: 15px;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        .gallery-item {
            width: calc(50% - 20px);
        }
    }

    @media only screen and (max-width: 480px) {
        .gallery-item {
            width: calc(100% - 20px);
        }
    }