---
title: "Gallery"
permalink: "/gallery/"
layout: layout.njk
---

<div class="gallery">
    {% for entry in photographs %}
        <div class="gallery-item">
            <a href="{{entry.src}}" target="_blank">
                <img src="{{entry.src}}" alt="{{entry.alt}}">
            </a>
            <div class="desc">test</div>
        </div>
        
    {% endfor %}
</div>

