---
layout: layout.njk
title : Home
---

<div class="welcome-logo-wrapper">
    <img src="/assets/icons/welcome3.png" alt="welcome" id="welcome-logo">
</div>

<div class="intro-wrapper">
{# {% include "components/categories-list.njk" ignore missing %} #}


