---
layout: layout.njk
title : Home
---

<div class="welcome-logo-wrapper">
    <img src="/assets/icons/welcome3.png" alt="welcome" id="welcome-logo">
</div>

<div class="intro-wrapper">
    <p>
I don't know why but i've decided to build myself a website. Since i'm a shitty developper with no skills at all, i'm starting with a static and boring website.
    </p>
</div>

{% include "components/categories-list.njk" ignore missing %}




